.login-btn-container {
  button[data-client="github_backend"], button[data-client="github_frontend"] {
    background-color: #000000;
    color: #ffffff;
  }
}

html[data-color-scheme=dark] {
  .login-btn-container {
    button[data-client="github_backend"] {
      background-color: var(--form-button);
      border: 1px solid var(--form-border);
      border-radius: var(--border-radius);
      color: var(--text);

      &:hover {
        background-color: var(--form-button-hover) !important;
      }
    }
  }
}
