{% block github_login_button %}
    <div class="github-login-btn-container">
        <button type="submit" class="github-login-btn" data-delay="1000">
            {% block github_login_button_icon %}
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="18" height="17.7" xmlns="http://www.w3.org/2000/svg" alt="GitHub logo">
                    <path d="m9.0074 0c-4.9809 0-9.0074 4.0562-9.0074 9.0744 0 4.0113 2.58 7.4067 6.159 8.6085 0.44748 0.09034 0.61139-0.19525 0.61139-0.43549 0-0.21037-0.01475-0.93146-0.01475-1.6828-2.5057 0.54096-3.0274-1.0817-3.0274-1.0817-0.40267-1.0517-0.99931-1.322-0.99931-1.322-0.8201-0.55589 0.059737-0.55589 0.059737-0.55589 0.90971 0.06011 1.3871 0.93146 1.3871 0.93146 0.80516 1.3821 2.1026 0.99157 2.6246 0.75114 0.074487-0.58594 0.31325-0.99157 0.56677-1.2169-1.9984-0.21037-4.101-0.99157-4.101-4.4772 0-0.99157 0.35769-1.8028 0.92446-2.4337-0.089422-0.22531-0.40267-1.157 0.089606-2.4039 0 0 0.76055-0.24042 2.4754 0.93146a8.6601 8.6601 0 0 1 2.252-0.30053c0.76055 0 1.5358 0.10528 2.2518 0.30053 1.7151-1.1719 2.4756-0.93146 2.4756-0.93146 0.49228 1.2469 0.17884 2.1786 0.08942 2.4039 0.5817 0.63093 0.92464 1.4422 0.92464 2.4337 0 3.4856-2.1026 4.2517-4.116 4.4772 0.32819 0.28541 0.61139 0.82618 0.61139 1.6826 0 1.2169-0.01475 2.1935-0.01475 2.4939 0 0.24042 0.16409 0.52602 0.61139 0.43586 3.5791-1.2021 6.159-4.5974 6.159-8.6086 0.01475-5.0181-4.0266-9.0744-8.9925-9.0744z" clip-rule="evenodd" fill="#fff" fill-rule="evenodd" stroke-width=".18438"/>
                </svg>
            {% endblock %}
            {% block github_login_button_text %}
                <span class="github-login-btn--btn-text">{{ 'GITHUB_LOGIN_MSC.logInWithGitHub'|trans({}, 'contao_default') }}</span>
            {% endblock %}
        </button>
    </div>
{% endblock %}
